
.breadcrumb-container
  display flex
  align-items center
  padding 5px 0
  p
    margin 0 5px
    font-size 16px
  .basic-text-container
    margin-right 5px
    p
      cursor pointer
      &:hover
        color #556F96
  .path-text-container
    display flex
    align-items center
    margin-right 5px
