<div
  class="toggle-container"
  [class.active]="toggleValue === type"
  (click)="onClick()"
>
    <svg
      *ngIf="type === TOGGLE_TYPE.LIST"
      id="list" xmlns="http://www.w3.org/2000/svg" width="17.474" height="16" viewBox="0 0 17.474 16">
      <path id="Path_26" data-name="Path 26" d="M0,0H4.154V4.154H0ZM0,0" fill="#556f96"/>
      <path id="Path_27" data-name="Path 27" d="M149.3,0h12V4.154h-12Zm0,0" transform="translate(-143.823)" fill="#556f96"/>
      <path id="Path_28" data-name="Path 28" d="M0,147.008H4.154v4.154H0Zm0,0" transform="translate(0 -141.085)" fill="#556f96"/>
      <path id="Path_29" data-name="Path 29" d="M149.3,147.008h12v4.154h-12Zm0,0" transform="translate(-143.823 -141.085)" fill="#556f96"/>
      <path id="Path_30" data-name="Path 30" d="M0,294.012H4.154v4.154H0Zm0,0" transform="translate(0 -282.166)" fill="#556f96"/>
      <path id="Path_31" data-name="Path 31" d="M149.3,294.012h12v4.154h-12Zm0,0" transform="translate(-143.823 -282.166)" fill="#556f96"/>
    </svg>
    <svg
      *ngIf="type === TOGGLE_TYPE.GRID"
      id="grid" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
      <path id="Path_32" data-name="Path 32" d="M0,0H4.3V4.3H0ZM0,0" fill="#556f96"/>
      <path id="Path_33" data-name="Path 33" d="M373.5,0h4.3V4.3h-4.3Zm0,0" transform="translate(-361.797)" fill="#556f96"/>
      <path id="Path_34" data-name="Path 34" d="M186.75,0h4.3V4.3h-4.3Zm0,0" transform="translate(-180.898)" fill="#556f96"/>
      <path id="Path_35" data-name="Path 35" d="M0,186.75H4.3v4.3H0Zm0,0" transform="translate(0 -180.898)" fill="#556f96"/>
      <path id="Path_36" data-name="Path 36" d="M373.5,186.75h4.3v4.3h-4.3Zm0,0" transform="translate(-361.797 -180.898)" fill="#556f96"/>
      <path id="Path_37" data-name="Path 37" d="M186.75,186.75h4.3v4.3h-4.3Zm0,0" transform="translate(-180.898 -180.898)" fill="#556f96"/>
      <path id="Path_38" data-name="Path 38" d="M0,373.5H4.3v4.3H0Zm0,0" transform="translate(0 -361.797)" fill="#556f96"/>
      <path id="Path_39" data-name="Path 39" d="M373.5,373.5h4.3v4.3h-4.3Zm0,0" transform="translate(-361.797 -361.797)" fill="#556f96"/>
      <path id="Path_40" data-name="Path 40" d="M186.75,373.5h4.3v4.3h-4.3Zm0,0" transform="translate(-180.898 -361.797)" fill="#556f96"/>
    </svg>
</div>
