<div class="search-bar-container">
  <div class="search-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="17.659" height="15.719" viewBox="0 0 17.659 15.719">
      <g id="search" transform="translate(-1718.089 -16.5)">
        <g id="Ellipse_2" data-name="Ellipse 2" transform="translate(1718.089 16.5)" fill="none" stroke="#fff" stroke-width="3">
          <ellipse cx="6.287" cy="6.328" rx="6.287" ry="6.328" stroke="none"/>
          <ellipse cx="6.287" cy="6.328" rx="4.787" ry="4.828" fill="none"/>
        </g>
        <line id="Line_7" data-name="Line 7" x1="4.557" y1="3.369" transform="translate(1729.093 26.752)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="3"/>
      </g>
    </svg>
  </div>
  <label>
    <input type="text" class="input">
  </label>
  <div class="draw-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7.5" viewBox="0 0 12 7.5">
      <path id="down-arrow" d="M6,0l6,7.5H0Z" transform="translate(12 7.5) rotate(180)" fill="#556f96"/>
    </svg>
  </div>
</div>
