.avatar-wrapper
  display flex
  justify-content flex-end
  align-items center

  .avatar-container
    display flex
    flex-direction column
    justify-content center
    align-items center

    .image
      width 45px
      height 44px
      border-radius 50%
      background-repeat no-repeat
      background-position center
      background-size cover

    .name
      text-align center
      margin 8px 0 0
      font-size 10px
      font-weight 800
