<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }
</style>

<div class="content" role="main">
  <div class="container">
    <!--Header-->
    <app-header></app-header>

    <!--Dashboard-->
    <div class="dashboard-container">
      <div class="main-container">

        <!--Tab and Toggle-->
        <div class="main-top">
          <app-tab
            *ngFor="let tab of tabs"
            [label]="tab.label"
            [value]="tab.value"
          ></app-tab>
          <div class="toggle-wrapper">
            <app-toggle
              *ngFor="let toggle of toggles"
              [type]="toggle"
            ></app-toggle>
          </div>
        </div>

        <!--List and Grid-->
        <div class="main-body">
          <app-breadcrumb></app-breadcrumb>
          <div class="table-container">
            <app-list *ngIf="toggleValue === TOGGLE_TYPE.LIST"></app-list>
            <app-grid *ngIf="toggleValue === TOGGLE_TYPE.GRID"></app-grid>
          </div>
          <div class="button-container">
            <div class="plus-button-container">
              <app-plus-button (clickEvent)="onButtonClick('新增資料夾')"></app-plus-button>
              <p class="label">新增資料夾</p>
            </div>
            <div class="plus-button-container">
              <app-plus-button (clickEvent)="onButtonClick('新增檔案')"></app-plus-button>
              <p class="label">新增檔案</p>
            </div>
          </div>
        </div>

      </div>

      <!--Aside-->
      <app-aside></app-aside>
    </div>
  </div>
</div>

<app-file-popup></app-file-popup>
