<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }
</style>

<div class="content" role="main">
  <div class="container">
    <app-header></app-header>

    <div class="dashboard-container">
      <div class="main-container">
        <div class="main-top">
          <app-tab
            *ngFor="let tab of tabs"
            [label]="tab.label"
            [value]="tab.value"
          ></app-tab>
          <div class="toggle-wrapper">
            <app-toggle
              *ngFor="let toggle of toggles"
              [type]="toggle"
            ></app-toggle>
          </div>
        </div>
        <div class="main-body">
          <div class="table-container">
            <app-table></app-table>
          </div>
          <app-plus-button
            (clickEvent)="onButtonClick('add-dir')"
          ></app-plus-button>
          <app-plus-button
            (clickEvent)="onButtonClick('add-dir')"
          ></app-plus-button>
        </div>

      </div>

      <div class="aside-container">
        aside...
      </div>
    </div>
  </div>
</div>
