.grid-container
  width 100%
  .folder-container
    padding-bottom 8px
    border-bottom 2px solid #F5F5F5
    .folder-wrapper
      display flex
      flex-wrap wrap
      app-grid-folder
        margin 5px
  .file-container
    .file-wrapper
      display flex
      flex-wrap wrap
      app-grid-file
        margin 5px

